# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

<b>Objectives:</b>
- Listing popular languages for data science
- Lisiing open source tools data scientists use on a daily basis
- List popular data analysis libraries

Some of the popular languages that Data Scientists use are:

1. Python

2. SQL

3. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas

2. PySpark

3. MLlib

| Data Science Tools | 
| --- | 
| TensorFlow |
| Scikit-learn |
| Apache Spark |

### Below are a few examples of evaluating arithemetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
one_hour = 60

In [4]:
 hour_counter = 200/one_hour

In [5]:
print(hour_counter)

3.3333333333333335

## Author
Tavish Noel